@font-face {
	font-family: "Tamzen";
	src: url("./Tamzen/tamzen10x20b-webfont.woff") format("woff"),
	url("./Tamzen/tamzen10x20b-webfont.ttf") format("truetype"),
	url("./Tamzen/Tamzen10x20b.svg#filename") format("svg");
}

body {
	font-family: "Tamzen";
	font-size: 20px;
	background-color: #BDBDBD;
	color: #000000;
}

.code {
	font-family: "Tamzen";
	font-size: 18px;
	background-color: #CECECE;
	color: #000000;
	border: 3px solid #848484;
	margin: 10px;
}

strong{
	color:#E00
}

h1,h2,h3,h4{
	color:#080
}
