<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>P1G3s' Blog</title>
	<link href="./css/common.css" type="text/css" rel="stylesheet"/>
	<link rel="icon" href="./images/favicon.ico" type="image/x-icon">
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<script>
		function blink(){
			var currentState = document.getElementById("blink").style.visibility
			if (currentState == "visible")
				document.getElementById("blink").style.visibility="hidden";
			else 
				document.getElementById("blink").style.visibility="visible";
		}
	setInterval("blink()",600);
	</script>
</head>
<body>
	<p style="text-align:center; font-size:22px;">Good day sir. Welcome to the blog<span id=blink style="visibility:hidden"> _</span></p>

	<div class="description">
		<div style="text-align:center; font-size:22px;">Description</div>
		<p style="text-align:left">
			This is the place where i keep some of my tiny knowledge, mostly recaps, not meant to contain too much detail. 
			its main purpose is to make my life easier and ease the pain of my IQ-critical brain, 
			but i do hope you enjoy the stuff here.
			Please feel free to leave your comments below, it could be really helpful.
			And again, thanks for your arriving my lord. 
		</p>
	</div>
	<div class="blogs">
		<div style="text-align:center; font-size:22px;">Content</div><br>

	</div>
</body>
</html>

